.social-button-rect {
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    margin: 10px;
    text-decoration: none;
}

.social-button-circ {
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    margin: 10px;
    border-radius: 50%;
    text-decoration: none;
}

.button-rect {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

.button-rect:hover {
    background-color: var(--white);
    color: var(--dark-green);
    cursor: pointer;
}

.button-rect-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: 2px solid grey;
    color: grey;;
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
}

.button-rect-highlight:hover {
    color: var(--dark-green);
    border-color: var(--dark-green);
    cursor: pointer;
}

.fa-brands, .fa-solid {
    color: var(--dark-green);
  }

header .col > .row > .fa-brands {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

footer > .row > .fa-brands {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

footer .fa-brands {
    border-radius: 50%;
    color: var(--white);
  }

  footer .fa-brands:hover {
    border-radius: 50%;
    color: var(--dark-green);
    background-color: white;
  }

#contact > .col-l > .row-l > .fa-solid {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}