@media only screen and (orientation:portrait) {

  header {
    height: 65vw;
    background-size: 100% auto;
  }

  nav {
    font-size: x-small;
  }

  #works>div,
  #skills .collapsible-group .row.col-m {
    flex-direction: column;
  }

  .row-s,
  .row-m {
    flex-direction: column !important;
  }

  .timeline,
  .timeline::before {
    all: unset;
  }

  .timeline {
    position: relative;
    margin-top: 20px;
  }

  .timeline .timeline-container .timeline-date {
    display: block;
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 25px;
    text-align: center;
    font-size: 1rem;
    color: #575454;
  }

  .timeline .timeline-container .timeline-date p {
    color: black;
  }

  .timeline .timeline-container .timeline-icon {
    display: none;
  }

  .timeline .timeline-container .timeline-body:before {
    all: unset;
  }

  #experience div {
    align-items: center;
    justify-content: center;
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  header {
    height: 100vh;
    background-size: auto;
  }

  nav {
    font-size: 100%;
  }

  #mobileMenu {
    display: block;
  }

  #navLinks {
    max-height: 0;
  }

  nav ul li {
    display: block;
  }

  header h2 {
    font-size: 3rem;
  }

  #about_content p {
    margin-left: 0;
  }

  #about-buttons {
    margin-left: 0;
  }

  #about-img {
    height: 300px;
    width: 200px;
  }

  .showcase {
    height: 200px;
    width: 200px;
  }

  #about_content {
    width: 95%;
  }

  #about div {
    width: 95%;
  }

  .button-rect-highlight {
    font-size: 0.7rem;
  }

  #about>div,
  #works>div,
  #about_content>div {
    flex-direction: column;
  }

  #about_content>div {
    flex-direction: column;
  }

  .row-s,
  .row-m {
    flex-direction: column !important;
    width: 95% !important;
  }

  #projects-container {
    width: 100%;
  }

  #projects-container > div {
    flex-direction: column;
    width: 95%;
    margin: 10px auto;
  }

  #about div #about_content div {
    flex-direction: row;
  }

  #skills .collapsible-group .row.col-m {
    flex-direction: column;
  }

  #about-buttons {
    align-items: center;
    justify-content: center;
  }

  #about-buttons a {
    margin-right: 0 !important;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
  }

  .timeline,
  .timeline::before {
    all: unset;
  }

  .timeline {
    position: relative;
    margin-top: 20px;
  }

  .timeline .timeline-container .timeline-date {
    display: block;
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 25px;
    text-align: center;
    font-size: 1rem;
    color: #575454;
  }

  .timeline .timeline-container .timeline-date p {
    color: black;
  }

  .timeline .timeline-container .timeline-icon {
    display: none;
  }

  .timeline .timeline-container .timeline-body:before {
    all: unset;
  }

  header h2 {
    font-size: 3.6rem;
  }

  header h3 {
    font-size: 1.6rem;
  }

  #banner .parallax div h2 {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.5rem;
  }

  #about_content p {
    font-size: 1rem;
  }

  .list {
    margin-left: 0;
  }

  div.row.row-m.works:first-child {
    width: 200px;
  }

  nav ul li#fleft {
    position: static;
  }

  nav ul li#fleft a {
    width: 100vw;
    box-sizing: border-box;
  }

  #experience div {
    align-items: center;
    justify-content: center;
  }

}