/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #mobileMenu {
    display: block;
  }

  #navLinks {
    max-height: 0;
  }

  nav ul li {
    display: block;
  }

  header h2 {
    font-size: 3rem;
  }

  #about_content p {
    margin-left: 0;
  }

  #about-buttons {
    margin-left: 0;
  }

  .showcase {
    height: 400px;
    width: 400px;
  }

  #about_content {
    width: 95%;
  }

  #about>div,
  #works>div,
  #about_content>div {
    flex-direction: column;
  }

  #about_content>div {
    flex-direction: column;
  }

  #about div #about_content div {
    flex-direction: row;
  }

  #skills div.col.col-m>div {
    flex-direction: column;
  }

  #about-buttons {
    align-items: center;
    justify-content: center;
  }

  .timeline,
  .timeline::before {
    all: unset;
  }

  .timeline-date {
    display: none;
  }

  .timeline-icon {
    display: none;
  }

  .timeline .timeline-container .timeline-body:before {
    all: unset;
  }

}