nav {
  z-index: 3;
  width: 100%;
  min-height: 40px;
}

nav * {
  background-color: var(--dark-green);
}

#mobileMenu {
  display: none;
  float: right;
  color: white;
  border: none;
  background-color: transparent;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#navLinks{
  transition: max-height 0.5s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
   display: inline-block;
  }

  nav ul li#fleft {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
   }

   nav ul li#fleft a{
    background-color: var(--light-green);
   }
  
  nav ul li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 25px;
    transition: background-color 0.5s;
    border-top: 3px solid transparent;
  }

  nav ul li a:hover {
    color: var(--white);
  }
  
  nav ul li a.active {
    transition: background-color 0.5s;
    border-top: 3px solid var(--white);
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }