.parallax {
  
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), var(--bannerimg);
  
    /* Set a specific height */
    height: 20rem;
    width: 100%;
    max-width: 100vw;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }