.text{
  text-indent: 25px;
  text-align: justify; 
  text-justify: distribute-all-lines;
  padding: 10px;
}

::selection {
  color: white;
  background: var(--dark-green);
}

.content-wrap h2 {
  color: var(--dark-green);
}

.lead {
  font-size: 1.2em;
  color: #585757;
}

body{
  font-size: 15px;
}

.banner , .banner h2{
  color: var(--white);
}

.banner > .parallax > .col{
  height: 100%;
}

.banner > .parallax > .col .button-rect {
  margin-top: 3em;
  font-size: 1.33em;
}

.banner h2{
  margin: 0;
  font-size: 2.4em;
}

#contact .social-button-circ {
  border-color: var(--dark-green);
}

#contact .col-l {
  width: 30%;
    margin-left: 46%;
    margin-right: auto;
}

#about_content h2 {
  margin-top: 0;
}

#about_content h2 {
  margin-top: 0;
}

#about_content p {
  text-align: justify;
  margin-left: 4rem;
}

section {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner{
  padding: 0;
}

a {
  color:var(--dark-green);
}

a:hover {
  color: var(--light-green);
}