.text {
  text-indent: 25px;
  text-align: justify;
  text-justify: distribute-all-lines;
  padding: 10px;
}

::selection {
  color: white;
  background: var(--dark-green);
}

.content-wrap h2 {
  color: var(--dark-green);
}

.lead {
  font-size: 1.2rem;
  color: #585757;
}

body {
  font-size: 100%;
}

#banner,
#banner h2 {
  color: var(--white);
}

#banner>.parallax>.col {
  height: 100%;
}

#banner>.parallax>.col .button-rect {
  margin-top: 3rem;
  font-size: 1.33rem;
}

#banner h2 {
  margin: 0;
  font-size: 2.4rem;
}

#contact .social-button-circ {
  border-color: var(--dark-green);
}

#contact {
  position: relative;
  height: 600px;
}

#contact .col-l {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

#about_content h2 {
  margin-top: 0;
}

#about_content h2 {
  margin-top: 0;
}

#about_content {
  width: 80%;
}

#about_content p {
  text-align: justify;
  text-justify: distribute-all-lines;
  margin-left: 4rem;
}

#about-buttons {
  margin-left: 4rem;
}

section {
  width: 100%;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

#banner {
  padding: 0;
}

a {
  color: var(--dark-green);
}

a:hover {
  color: var(--light-green);
}

.works {
  margin-top: 50px;
  margin-bottom: 50px;
}


.skills {
  height: 80px;
  width: 80px;
}

.list {
  text-align: left;
  margin-left: 40px;
}

.list li {
  word-wrap: break-word;
}

#about>div {
  width: 80%;
}

div.row.row-m.works:first-child {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about_content>div.row>h2 {
  color: black;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

#experience{
  background-color: #F7F8F8;
}

#about-img{
  transition: opacity 0.4s ease-in;
  opacity: 1;
}

body{
  overflow-x:hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}