@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --headerimg: url("../img/header.jpg");
    --bannerimg: url("../img/banner.jpg");
    --white: #ffffff;
    --grey: #333333;
    --light-green: #B4C36C;
    --dark-green: #274C3A;
}