@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --headerimg: url("https://vivaldo-roque.github.io/Portfolio/img/header.jpg");
    --bannerimg: url("https://vivaldo-roque.github.io/Portfolio/img/banner.jpg");
    --white: #ffffff;
    --grey: #333333;
    --light-green: #04AA6D;
    --dark-green: #028d5a;
}